.productListContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.productItem {
    display: flex;
    flex-direction:     column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

button {
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}
button:active {
    background-color: #3e8e41;
}

