form {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
    width: 50vw;
}
input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}
button:active {
    background-color: #3e8e41;
}

legend {
    font-size: 20px;
    font-weight: bold;
}

fieldset {
    width: 50vw;
    height: 50vh;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
}
.InputFormContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.InputFormContainer div {
    display: flex;
    flex-direction: column;
    gap: 10px;
}